*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top_bar{
    padding: 20px 0px;
}

.flex_container{
    display: flex;
    width: 80%;
    margin: auto;
}

.col_1 img{
    height: 60%;
}

.text{
    font-size: 12px;
    padding: 0px 20px;
}

a,li{
    display: inline-block;
}

ul a{
    color: white;
}

.col_1{
    text-align: left;
    width: 20%;
    padding: 10px 0px;
}

.col_2{
    width: 60%;
    text-align: center;
    padding: 10px 0px;
}

.col_3{
    width: 20%;
    text-align: right;
    padding: 5px 0px;
}

ul{
    list-style: none ;
}

a{
    text-decoration: none;
    color:black
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.header{
    width: 60%;
    margin: auto;
    padding: 60px 0px 50px 0px;
    text-align: center;
}

.buttom{
    background-color: white;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 30px;
    border: none;
}

.bt_black{
    background-color: #333;
    color: white;
}

.header div{
    display: inline-block;
}

.header a{
    font-size: 14px;
}

p{
    font-size: 14px;
}

.header h1,p{
    color: white;
    padding: 20px 0px;
}

h1{
    font-size: 40px;
    font-weight: bolder;
}


.container{
    padding: 20px 0px;
}

.flex_cnt{
    display: flex;
    height: 300px;
    width: 80%;
    margin: auto;
}

.col_left{
    width: 60%;
    background-color: lightblue;
    border: 1px black dashed;
}

.col_right{
    width: 40%;
    background-color: pink;
    border: 1px black dashed;
}

.sct_grey{
    background-color: lightgray;
}

.main_end{
    height: 400px;
    width: 80%;
    margin: auto;
    background-color: green;
    border: 1px black dashed;
}

footer{
    background-color: black;
    margin-bottom: 2px;
    padding: 20px 0px;
}

.foot_col1{
    background-color: lightcoral;
    flex-grow: 2;
    border: 1px black dashed;
}

.foot_col2{
    background-color: aqua;
    flex-grow: 1;
    border: 1px black dashed;
}

.foot_container{
    background-color: aquamarine;
    padding: 10px 0px;
    justify-content: space-between;
}

.foot_left{
    background-color: lightcoral;
    border: 1px black dashed;
}

.foot_right{
    background-color: lightcoral;
    border: 1px black dashed;
}

